body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    position: relative;
}

h1 {
    line-height: 1em;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.content {
    position: relative;
    background-color: rgba(127, 255, 212, 0.8);
    text-align: center;
    max-width: 580px;
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 2rem;
    z-index: 1;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .content {
        max-width: 90%;
        padding: 1rem;
        font-size: 1rem;
        border-radius: 1rem;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 0.8rem;
        font-size: 0.9rem;
        border-radius: 0.8rem;
    }
}